
.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-cover {
    position: relative;
    height: 300px;
    background: #e4e6eb;
    border-radius: 8px;
    overflow: visible;
}

.profile-info {
    position: absolute;
    bottom: -50px;
    left: 40px;
    display: flex;
    align-items: flex-end;
}

.avatar-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #fff;
    object-fit: cover;
}

.profile-offset {
    margin-top: 70px;
}
